{
    "swagger": "2.0",
    "info": {
        "version": "5.0.0",
        "title": "eatabit.io API",
        "description": "**Test Credentials**\n* sid: `617117b5-4042-4951-b75c-88f2ee159afd`\n* token: `c7ae2067-95bd-4722-909a-9307ce019097`\n",
        "contact": {
            "url": "http://eatabit.io",
            "email": "support@eatabit.com"
        }
    },
    "host": "api.eatabit.io",
    "schemes": [
        "https"
    ],
    "basePath": "/v5",
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "securityDefinitions": {
        "basicAuth": {
            "type": "basic",
            "description": "All requests are authenticated with HTTP Basic auth. The username is your account :sid and the password is your account :token. You can supply a DEVELOPMENT or PRODUCTION account :sid & :token pair. Jobs created with a DEVELOPMENT account will not actually be sent to a printer."
        }
    },
    "paths": {
        "/auth": {
            "get": {
                "summary": "Verify authentication",
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Will send `Authenticated` if authentication is succesful"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/account/{sid}": {
            "get": {
                "summary": "Get Account info",
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Will send Account information",
                        "schema": {
                            "$ref": "#/definitions/Account"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "sid",
                        "in": "path",
                        "description": "Your Account SID",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    }
                ]
            }
        },
        "/account/{sid}/printers/{printer_id}": {
            "get": {
                "summary": "Get Printer info",
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Will send Printer information",
                        "schema": {
                            "$ref": "#/definitions/Printer"
                        }
                    },
                    "404": {
                        "description": "Printer not found",
                        "schema": {
                            "$ref": "#/definitions/ErrorPrinterNotFound"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "sid",
                        "in": "path",
                        "description": "Your Account SID",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "printer_id",
                        "in": "path",
                        "description": "The ID of the Printer",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    }
                ]
            }
        },
        "/account/{sid}/printers/{printer_id}/jobs/{job_id}": {
            "get": {
                "summary": "Get Job info",
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Will send Job information",
                        "schema": {
                            "$ref": "#/definitions/Job"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "sid",
                        "in": "path",
                        "description": "Your Account SID",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "printer_id",
                        "in": "path",
                        "description": "The ID pf the Printer",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "job_id",
                        "in": "path",
                        "description": "The ID of the Job",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    }
                ]
            }
        },
        "/account/{sid}/printers/{printer_id}/jobs": {
            "post": {
                "summary": "Create Job",
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Will send Job information",
                        "schema": {
                            "$ref": "#/definitions/Job"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "sid",
                        "description": "Your Account SID",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "printer_id",
                        "description": "The ID of the Printer",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "job",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NewJob"
                        }
                    }
                ]
            }
        }
    },
    "definitions": {
        "ShallowAccount": {
            "required": [
                "sid"
            ],
            "properties": {
                "sid": {
                    "type": "string",
                    "format": "string",
                    "description": "The SID of the Account used to create this Job.\n"
                }
            }
        },
        "Account": {
            "required": [
                "name",
                "enabled",
                "environment",
                "created_at"
            ],
            "properties": {
                "name": {
                    "type": "string",
                    "format": "string",
                    "description": "This Account's name. This string will appear on printed receipts\n"
                },
                "enabled": {
                    "type": "boolean",
                    "description": "This Account's administrative status\n"
                },
                "environment": {
                    "type": "string",
                    "format": "string",
                    "description": "This Account's environment\n",
                    "enum": [
                        "developemnt",
                        "production"
                    ]
                },
                "created_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The UTC time that the record was created. Timestamps are in iso_8601 format\n"
                }
            }
        },
        "ShallowPrinter": {
            "required": [
                "id",
                "fulfillment",
                "state"
            ],
            "properties": {
                "id": {
                    "type": "string",
                    "format": "string",
                    "description": "The id of the Job Printer.\n"
                },
                "fulfillment": {
                    "type": "integer",
                    "format": "int32",
                    "maximum": 95,
                    "minimum": 5,
                    "description": "The number of minutes to fulfill, as specified by the Location at the time the Job was created.\n"
                },
                "state": {
                    "type": "string",
                    "format": "string",
                    "description": "Printer :state is a summary value composed of :online and :has_paper.\nIf the printer state is \"unavailable\", the API will still accept orders\nfor the Printer in the case it comes back online and/or its paper is\nrefilled.\n"
                }
            }
        },
        "Printer": {
            "required": [
                "id",
                "name",
                "enabled",
                "state",
                "online",
                "paper",
                "fulfillment",
                "autoprint",
                "sound",
                "light"
            ],
            "properties": {
                "id": {
                    "type": "string",
                    "format": "string",
                    "description": "The id of the Printer.\n"
                },
                "name": {
                    "type": "string",
                    "format": "string",
                    "description": "The name of the Location where the Printer is located.\n"
                },
                "enabled": {
                    "type": "boolean",
                    "description": "The administrative state of the Printer. Printers that are disabled cannot receive orders.\n"
                },
                "state": {
                    "type": "string",
                    "format": "string",
                    "description": "Printer :state is a summary value composed of :online and :has_paper. If the printer state is \"unavailable\", the API will still accept orders for the Printer in the case it comes back online and/or its paper is refilled.\n",
                    "enum": [
                        "available",
                        "unavailable"
                    ]
                },
                "online": {
                    "type": "boolean",
                    "description": "The cellular connectivity state of the Printer. A value of false means that the Printer is not registered to the cellular network and cannot receive jobs. If a Printer is powered off, this value will be false.\n"
                },
                "paper": {
                    "type": "boolean",
                    "description": "The current state of the paper in the Printer. A value of false means the Printer is out of paper. Upon refill of the paper, the Printer will update this value to true.\n"
                },
                "fulfillment": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The current fulfillment time in minutes as set by the Location\n"
                },
                "autoprint": {
                    "type": "boolean",
                    "default": false,
                    "description": "When true, the Printer will immediately print Jobs upon download, not waiting for a Location to press the print button\n"
                },
                "sound": {
                    "type": "boolean",
                    "default": true,
                    "description": "When true, the Printer will make an audible alert upon download of a Job\n"
                },
                "light": {
                    "type": "boolean",
                    "default": true,
                    "description": "When true, the Printer will make a visual alert upon downlaod of a Job\n"
                }
            }
        },
        "NewJob": {
            "required": [
                "id",
                "body",
                "status_url"
            ],
            "properties": {
                "id": {
                    "type": "string",
                    "format": "string",
                    "description": "The ID of the Job in your system. This ID will be printed on the paper.\n",
                    "maxLength": 254
                },
                "body": {
                    "type": "string",
                    "format": "string",
                    "description": "The body of the Job to be printed\n",
                    "maxLength": 30000,
                    "minLength": 1
                },
                "status_url": {
                    "type": "string",
                    "format": "string",
                    "description": "The url to which to send Job state change callbacks\n"
                },
                "status_url_method": {
                    "type": "string",
                    "format": "string",
                    "description": "The HTTP method to use to action the status_url\n",
                    "enum": [
                        "PUT",
                        "POST"
                    ],
                    "default": "PUT"
                },
                "expire_seconds": {
                    "type": "integer",
                    "format": "int32",
                    "minimum": 60,
                    "maximum": 1800,
                    "default": 300,
                    "description": "The optional number of seconds to wait for the Location to print the Job after which the Job state will change to 'expired'. The default is 300 seconds.\n"
                },
                "double_print": {
                    "type": "boolean",
                    "default": false,
                    "description": "When set to: true, the Printer will print the full contents of the Job body twice, delimited by: \"**************** TICKET #1 OF 2 ****************\\n\\n\" and \"\\n\\n**************** TICKET #2 OF 2 ****************\\n\\n\" respectively.\n"
                }
            }
        },
        "Job": {
            "required": [
                "account",
                "printer",
                "id",
                "state",
                "body",
                "status_url",
                "status_url_method",
                "environment",
                "fulfill_at",
                "created_at",
                "external_id",
                "api_version",
                "expire_seconds",
                "expires_at",
                "double_print"
            ],
            "properties": {
                "account": {
                    "type": "object",
                    "$ref": "#/definitions/ShallowAccount",
                    "description": "The Account used to create the Job\n"
                },
                "printer": {
                    "type": "object",
                    "$ref": "#/definitions/ShallowPrinter",
                    "description": "The Printer to which the Job was sent.\n"
                },
                "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The ID of the Job in the eatabit database\n"
                },
                "external_id": {
                    "type": "string",
                    "format": "string",
                    "description": "The ID you supplied as :id at Job creation\n"
                },
                "state": {
                    "type": "string",
                    "format": "string",
                    "description": "The state of the Job\n",
                    "enum": [
                        "queued",
                        "downloaded",
                        "printed",
                        "expired"
                    ]
                },
                "body": {
                    "type": "string",
                    "format": "string",
                    "description": "The body of the Job to be printed\n"
                },
                "status_url": {
                    "type": "string",
                    "format": "string",
                    "description": "The url to which to send Job state callbacks\n"
                },
                "status_url_method": {
                    "type": "string",
                    "format": "string",
                    "description": "The HTTP method to use to action the status_url\n",
                    "enum": [
                        "PUT",
                        "POST"
                    ]
                },
                "environment": {
                    "type": "string",
                    "format": "string",
                    "description": "The job environment as defined by the Account used to create it. Jobs created using your development account will be of environment `development`. Development Jobs are for testing purposes and will not be sent to the Printer.\n",
                    "enum": [
                        "development",
                        "production"
                    ]
                },
                "fulfill_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The UTC time at which the Location has specified the Job to be ready. The value is in iso8601 format.\n"
                },
                "created_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The UTC time that the record was created. Timestamps are in iso8601 format.\n"
                },
                "api_version": {
                    "type": "integer",
                    "format": "int32",
                    "default": 4,
                    "description": "The version of the API used to create the Job. The default is 4.\n"
                },
                "expire_seconds": {
                    "type": "integer",
                    "format": "int32",
                    "default": 300,
                    "description": "The value supplied during Job creation.\n"
                },
                "expires_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The UTC time at which, given that the Job is not printed by the Location, the API will expire the Job. The value is in iso8601 format.\n"
                },
                "double_print": {
                    "type": "boolean",
                    "default": false,
                    "description": "When set to: true, the Printer will print the full contents of the Job body twice, delimited by: \"**************** TICKET #1 OF 2 ****************\\n\\n\" and \"\\n\\n**************** TICKET #2 OF 2 ****************\\n\\n\" respectively.\n"
                }
            }
        },
        "ErrorPrinterNotFound": {
            "properties": {
                "error": {
                    "type": "string",
                    "format": "string",
                    "default": "printer not found"
                }
            }
        }
    }
}
