{
    "swagger": "2.0",
    "info": {
        "version": "4.0.0alpha",
        "title": "eatabit.io API",
        "description": "**Test Credentials**\n* sid: `617117b5-4042-4951-b75c-88f2ee159afd`\n* token: `c7ae2067-95bd-4722-909a-9307ce019097`\n",
        "contact": {
            "url": "http://eatabit.io",
            "email": "support@eatabit.io"
        }
    },
    "host": "api.eatabit.io",
    "schemes": [
        "https"
    ],
    "basePath": "/v4",
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "securityDefinitions": {
        "basicAuth": {
            "type": "basic",
            "description": "All requests are authenticated with HTTP Basic auth. The username is your account :sid and the password is your account :token. You can supply a DEVELOPMENT or PRODUCTION account :sid & :token pair. Jobs created with a DEVELOPMENT account will not actually be sent to a printer."
        }
    },
    "paths": {
        "/auth": {
            "get": {
                "summary": "Verify authentication",
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Will send `Authenticated` if authentication is succesful"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/account/{sid}": {
            "get": {
                "summary": "Get Account info",
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Will send Account information",
                        "schema": {
                            "$ref": "#/definitions/Account"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "sid",
                        "in": "path",
                        "description": "Your Account SID",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    }
                ]
            }
        },
        "/account/{sid}/printers/{printer_id}": {
            "get": {
                "summary": "Get Printer info",
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Will send Printer information",
                        "schema": {
                            "$ref": "#/definitions/Printer"
                        }
                    },
                    "404": {
                        "description": "Printer not found",
                        "schema": {
                            "$ref": "#/definitions/ErrorPrinterNotFound"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "sid",
                        "in": "path",
                        "description": "Your Account SID",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "printer_id",
                        "in": "path",
                        "description": "The ID of the Printer",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    }
                ]
            }
        },
        "/account/{sid}/printers/{printer_id}/jobs/{job_id}": {
            "get": {
                "summary": "Get Job info",
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Will send Job information",
                        "schema": {
                            "$ref": "#/definitions/Job"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "sid",
                        "in": "path",
                        "description": "Your Account SID",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "printer_id",
                        "in": "path",
                        "description": "The ID pf the Printer",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "job_id",
                        "in": "path",
                        "description": "The ID of the Job",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    }
                ]
            }
        },
        "/account/{sid}/printers/{printer_id}/jobs": {
            "post": {
                "summary": "Create Job",
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Will send Job information",
                        "schema": {
                            "$ref": "#/definitions/Job"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "sid",
                        "description": "Your Account SID",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "printer_id",
                        "description": "The ID of the Printer",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "job",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NewJob"
                        }
                    }
                ]
            }
        }
    },
    "definitions": {
        "Account": {
            "required": [
                "name",
                "enabled",
                "environment",
                "created_at"
            ],
            "properties": {
                "name": {
                    "type": "string",
                    "format": "string",
                    "description": "This Account's name. This string will appear on printed receipts\n"
                },
                "enabled": {
                    "type": "boolean",
                    "description": "This Account's administrative status\n"
                },
                "environment": {
                    "type": "string",
                    "format": "string",
                    "description": "This Account's environment\n",
                    "enum": [
                        "developemnt",
                        "production"
                    ]
                },
                "created_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The UTC time that the record was created. Timestamps are in iso_8601 format\n"
                }
            }
        },
        "Printer": {
            "required": [
                "name",
                "enabled",
                "state",
                "online",
                "paper",
                "fulfillment",
                "autoprint",
                "sound",
                "light"
            ],
            "properties": {
                "name": {
                    "type": "string",
                    "format": "string",
                    "description": "The name of the Location where the Printer is located\n"
                },
                "enabled": {
                    "type": "boolean",
                    "description": "The administrative state of the Printer. Printers that are disabled cannot receive orders\n"
                },
                "state": {
                    "type": "string",
                    "format": "string",
                    "description": "Printer :state is a summary value composed of :online and :has_paper. If the printer state is \"unavailable\", the API will still accept orders for the Printer in the case it comes back online and/or its paper is refilled\n",
                    "enum": [
                        "available",
                        "unavailable"
                    ]
                },
                "online": {
                    "type": "boolean",
                    "description": "The cellular connectivity state of the Printer. A value of false means that the Printer is not registered to the cellular network and cannot receive jobs. If a Printer is powered off, this value will be false\n"
                },
                "paper": {
                    "type": "boolean",
                    "description": "The current state of the paper in the Printer. A value of false means the Printer is out of paper. Upon refill of the paper, the Printer will update this value to true\n"
                },
                "fulfillment": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The current fulfillment time in minutes as set by the Location\n"
                },
                "autoprint": {
                    "type": "boolean",
                    "default": false,
                    "description": "When true, the Printer will immediately print Jobs upon download, not waiting for a Location to press the print button\n"
                },
                "sound": {
                    "type": "boolean",
                    "default": true,
                    "description": "When true, the Printer will make an audible alert upon download of a Job\n"
                },
                "light": {
                    "type": "boolean",
                    "default": true,
                    "description": "When true, the Printer will make a visual alert upon downlaod of a Job\n"
                }
            }
        },
        "NewJob": {
            "required": [
                "body",
                "status_url"
            ],
            "properties": {
                "body": {
                    "type": "string",
                    "format": "string",
                    "description": "The body of the Job to be printed\n",
                    "maxLength": 30000,
                    "minLength": 1
                },
                "status_url": {
                    "type": "string",
                    "format": "string",
                    "description": "The url to which to send Job state change callbacks\n"
                },
                "status_url_method": {
                    "type": "string",
                    "format": "string",
                    "description": "The HTTP method to use to action the status_url\n",
                    "enum": [
                        "PUT",
                        "POST"
                    ],
                    "default": "PUT"
                },
                "expire_seconds": {
                    "type": "integer",
                    "format": "int32",
                    "minimum": 60,
                    "maximum": 1800,
                    "description": "The number of seconds to wait for the Location to print the Job before changing the Job state to 'expired'. The default is 180 seconds.\n",
                    "default": 180
                }
            }
        },
        "Job": {
            "required": [
                "id",
                "state",
                "body",
                "status_url",
                "status_url_method",
                "environment",
                "fulfillment",
                "created_at"
            ],
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The ID of the Job in the eatabit database\n"
                },
                "state": {
                    "type": "string",
                    "format": "string",
                    "description": "The state of the Job\n",
                    "enum": [
                        "queued",
                        "downloaded",
                        "printed",
                        "expired"
                    ]
                },
                "body": {
                    "type": "string",
                    "format": "string",
                    "description": "The body of the Job to be printed\n"
                },
                "status_url": {
                    "type": "string",
                    "format": "string",
                    "description": "The url to which to send Job state callbacks\n"
                },
                "status_url_method": {
                    "type": "string",
                    "format": "string",
                    "description": "The HTTP method to use to action the status_url\n",
                    "enum": [
                        "PUT",
                        "POST"
                    ]
                },
                "environment": {
                    "type": "string",
                    "format": "string",
                    "description": "The job environment as defined by the Account used to create it. Jobs created using your development account will be of environment `development`. Development Jobs are for testing purposes and will not be sent to the Printer.\n",
                    "enum": [
                        "development",
                        "production"
                    ]
                },
                "fulfillment": {
                    "type": "integer",
                    "format": "int32",
                    "minimum": 0,
                    "maximum": 90,
                    "description": "The number of minutes to fulfill an order, as specified by the Location, at the time the Job was created. This value can be subtracted from the created_at param to determine the Job fulfillment time.\n"
                },
                "created_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The UTC time that the record was created. Timestamps are in iso8601 format\n"
                }
            }
        },
        "ErrorPrinterNotFound": {
            "properties": {
                "error": {
                    "type": "string",
                    "format": "string",
                    "default": "printer not found"
                }
            }
        }
    }
}
